/cms/target/
.DS_Store
/cms/nb-configuration.xml
/cms/nbactions.xml
/cms/faces-config.NavData
/dao/target/
/ftplet/target/
/ftplet/nbactions.xml
/ftplet/ftpd-full.xml
/ftplet/users.properties
/ftplet/ftpd.xml