/* 
    Created on : 2014-8-28, 13:51:35
    Author     : 蔡迪旻 <yidumen.com>
*/
.table .table-col-id {
    width: 16px;
}
.table .table-col-file,
.table .table-col-duration {
    width: 1px;
}
.table .table-col-title {
    width: fit-content;
}
.table .table-col-index {
    width: 44px;
}
.table .table-col-date {
    width: 90px;
}
.table .table-col-column {
    width: 60px;
}
.table .table-col-status {
    width: 46px;
}
.table .table-col-opera {
    width: 80px;
}
.info-caption {
    text-align: left;
}